:host {
  display: block;
  font-family: sans-serif;
  width: 100%;

  mat-drawer-container {
    position: absolute;
    width: 100%;
    top: 64px;
    bottom: 0;

    mat-drawer {
      width: 200px;

      .menu-item {
        height: 32px;
        background-color: #494949;
        cursor: pointer;

        &:hover {
          background-color: #808080;
        }

        a {
          margin-left: 20px;
          text-decoration-line: none;
          color: white;
          line-height: 32px;
          width: 100%;
          display: block;
        }
      }

      .drawer-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.app-name {
  font-size: 16px;
}

.app-title {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 28px;
}

